@font-face {
	font-family: "OpenSans";
	src: local("OpenSans Regular"),
		local("OpenSans-Regular"),
		url("/fonts/OpenSans-Regular.woff2"),
		url("/fonts/OpenSans-Regular.woff"),
		url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "OpenSans";
	src: local("OpenSans Bold"),
		local("OpenSans-Bold"),
		url("/fonts/OpenSans-Bold.woff2"),
		url("/fonts/OpenSans-Bold.woff"),
		url("/fonts/OpenSans-Bold.ttf");
}

body {
	/*font-size: 13px;*/
	font-family: 'OpenSans', sans-serif;
}

.title {
	text-transform: uppercase;
	color: black;
	/*font-family: 'OpenSans', sans-serif;*/
	font-weight: bold;
	font-size: 2vh;
}

.welcome {
	background-image: url("https://volshvs.github.io/coursework-frontend-html/images/banner-bg.jpg");
	background-repeat: no-repeat;
	/*background-position: center center;*/
	background-size: cover;
	background-color: #000000;

	position: relative;
	min-height: 50vh;
	z-index: 0;
	display: flex;
	align-items: center;
	flex-direction: column;

	/*font-family: 'OpenSans', sans-serif;*/
	font-weight: normal;
}

.welcome::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.45;
	z-index: -1;
}

.welcome__upper-part {
	width: 1200px;
	/*min-height: 20%;*/
	padding-top: 28px;
	display: flex;
	flex-grow: 0;
	font-size: 1.5vh;
	justify-content: space-between;
}

.welcome__title {
	display: flex;
	/*justify-content: center;*/
	flex-grow: 1;
	/*padding-bottom: 100px;*/
	/*height: 80%;*/
	align-items: center;
	font-size: 2.7vh;
	line-height: 1.6;
	/*font-family: 'OpenSans', sans-serif;*/
	font-weight: bold;
	/*min-height: auto;*/
}

.menu__list {
	display: flex;
	/*align-items: center;*/
	list-style-type: none;
	font-family: inherit;
	font-size: 1em;
	color: white;
	/*margin-left: 20px;*/
}

.welcome__logo {
	/*width: 180px;*/
	width: 20vh;
	padding-left: 15px;
}

.item__link {
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	padding: 15px;
}

.item__link:hover {
	text-decoration: underline;
	font-weight: bold;
}

.intro-title {
	text-transform: uppercase;
	display: flex;
	text-align: center;
	/*align-items: center;*/
	/*align-content: center;*/
	/*justify-content: center;*/
	color: white;
}

.main-content {
	display: flex;
	/*width: 1200px;*/
	/*flex-wrap: wrap;*/
	flex-direction: column;
	align-items: center;
	/*justify-content: space-between;*/
}

.trends {
	width: 100%;
}

.list-tags {
	/*text-decoration: none;*/
	display: flex;
	list-style-type: none;
	/*flex-direction: row;*/
	padding: 0;
	/*justify-content: flex-start;*/
}

.title-tag {
	/*display: flex;*/
	padding-right: 25px;
	margin-top: 0;
	margin-bottom: 0;
}

.trends__title, .shop__title {
	text-align: center;
	margin-top: 6vh;
	/*border-bottom: black 10px solid;*/
}

.trends__title:after, .shop__title:after {
	content: '';
	width: 65px;
	height: 3px;
	background: #b59f5b;
	position: absolute;
	transform: translate(-50%);
}

.new-posts__title, .all-tags__title {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 1.3vh;
}

.trends__container {
	width: 100%;
	min-height: 348px;
	padding-top: 50px;
	margin-top: 0;
	display: flex;
	/*justify-content: space-around;*/
}

.trends__category {

	display: inline-block;
	border: 4px solid #b59f5b;

	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: center;*/
	/*align-items: flex-end;*/
}

.trends__item {
	display: flex;
	/*display: inline-flex;*/
	/*box-sizing: content-box;*/
	/*min-width: calc(25% - 4px);*/
	/*height: 325px;*/
	/*min-height: 30vh;*/
	width: 25%;

	/*height: 100%;*/

	/*padding-left: 10px;*/
}

.preview-food, .preview-travel, .preview-health {
	margin-left: 5px;
	/*margin-right: 5px;*/
}

.trends__preview {
	width: 100%;
	/*height: 100%;*/
	display: flex;
	justify-content: center;
/*	box-sizing: border-box;*/
}

.preview-garden {
	display: inline-flex;
	/*height: 100%;*/
	background-image: url("https://volshvs.github.io/coursework-frontend-html/images/trend1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: black;
	/*max-width: 100%;*/
	/*max-height: 100%;*/
	/*object-fit: contain;*/

	position: relative;
	z-index: 0;
}

.preview-garden:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.45;
	z-index: -1;
}

.preview-food {
	background-image: url("https://volshvs.github.io/coursework-frontend-html/images/trend2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: black;

	position: relative;
	z-index: 0;
}

.preview-food:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.45;
	z-index: -1;
}

.preview-travel {
	background-image: url("https://volshvs.github.io/coursework-frontend-html/images/trend3.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: black;

	position: relative;
	z-index: 0;
}

.preview-travel:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.45;
	z-index: -1;
}

.preview-health {
	background-image: url("https://volshvs.github.io/coursework-frontend-html/images/trend4.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: black;

	position: relative;
	z-index: 0;
}

.preview-health:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.45;
	z-index: -1;
}

.category__list-tags {
	color: #b59f5b;
	text-transform: uppercase;
	font-size: 1.5vh;
}

.category__title-trends {
	color: white;
	text-transform: uppercase;
	font-size: 2vh;
}

.section-content {
	width: 1200px;
	display: inline-flex;
	justify-content: center;
	margin-top: 6vh;
}

.post__container {
	/*flex-grow: 2;*/
	width: 70%;
	/*padding: 0;*/
	/*display: flex;*/
	/*justify-content: flex-start;*/
}

.side-bar {
	/*flex-grow: 1;*/
	width: 30%;
	box-sizing: border-box;
	padding-left: 30px;
}

/*.new-posts {*/
/*	margin-left: 30px;*/
/*}*/

.new-post__title {
	text-transform: uppercase;
	margin-top: 0;
}

.post__list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-top: 0;
	width: 93%;
}

.post__item {
	display: inline-flex;
	padding-bottom: 5vh;
	font-weight: normal;
}

.item__content {
	padding-left: 3vh;
}

.category__title-ru {
	text-transform: uppercase;
	margin-top: 0;

	/*font-weight: bold;*/
	font-size: 2vh;
}

.category__date, .date {
	font-size: 1.4vh;
	color: #999999;
}

.category__author {
	font-weight: bold;
	font-size: 1.4vh;
	padding-left: 15px;
}

.category__description {
	font-size: 1.5vh;
	font-weight: normal;
}

.new-posts__list {
	display: flex;
	flex-direction: column;
	padding-top: 3vh;
	padding-left: 0;
}

.new-posts__item {
	display: inline-flex;
}

.new-posts__item:last-child {
	margin-bottom: 3vh;
}

.new-post_img {
	max-width: 100%;
	height: 100%;
}

.new-posts__content {
	padding-left: 15px;
}

.search {
	display: flex;
	/*display: inline-flex;*/
	/*width: 100%;*/
}

.search__field {
	display: flex;
	flex-grow: 2;
}

.field {
	/*display: flex;*/
	box-sizing: border-box;
	background-color: #f4f7f6;
	height: 6vh;
	/*width: 10%;*/
	font-size: 1.5vh;
	font-weight: normal;
	padding-left: 30px;
	border-style: none;
	flex-grow: 2;
	outline: none;
}

.bottom__search {
	/*display: flex;*/
	/*max-width: 100px;*/
	/*height: 100px;*/
	/*font-size: 10vh;*/
	/*display: flex;*/
	max-width: 6vh;
	height: 6vh;
	border-style: none;
	flex-grow: 2;
	/*justify-content: flex-end;*/
	background-color: #b59f5b;
	/*background-image: url("https://volshvs.github.io/coursework-frontend-html/svg/search.svg");*/
	/*image: url("https://volshvs.github.io/coursework-frontend-html/svg/search.svg");*/
}

.bottom__search:hover {
	border-top: 3px solid #f4f7f6;
}

.search__img {
	width: 2.5vh;
	/*height: 2.5vh;*/
}

.spamming, .all-tags {
	margin-top: 6vh;
}

.spamming-form {
	display: flex;
	flex-direction: column;
	margin-top: 5vh;
}

.field__email {
	/*display: block;*/
	outline: none;
	/*display: flex;*/
	box-sizing: border-box;
	background-color: #f4f7f6;
	height: 6vh;
	width: 100%;
	font-size: 1.5vh;
	font-weight: normal;
	padding-left: 30px;
	border: none;
	flex-grow: 1;
	/*padding-left: 0;*/
}

.field__email:focus, .field:focus {
	border-bottom: 2px solid #ebe7d7
}

.spamming-form__bottom {
	height: 6vh;
	border: none;
	margin-top: 20px;
	background-color: #b59f5b;
	color: #eeeeee;
	font-size: 1.5vh;
	font-weight: bold;
	text-transform: uppercase;
}

.spamming-form__bottom:hover {
	/*box-sizing: content-box;*/
	border-top: 2px solid #f4f7f6;
}

.all-tags__list {
	display: inline-flex;
	/*align-content: flex-start;*/
	/*max-width: 100%;*/
	padding-left: 0;
	margin-top: 3vh;
	flex-wrap: wrap;
}

.all-tags__item {
	list-style-type: none;
	box-sizing: border-box;
	margin: 3px;
}

.item-tag {
	text-transform: uppercase;
	padding: 10px;
	border: 3px solid #eeeeee;
	margin: 0;
}

.themes__list {
	margin-top: 5vh;
	padding-left: 0;
}

.themes__item {
	list-style-type: none;
	border-bottom: 2px solid #eeeeee;
	padding-top: 15px;
	padding-bottom: 15px;
}

.themes__text {
	font-size: 1.5vh;
	font-weight: bold;
}

.themes__number {
	color: #b59f5b;
	display: inline-block;
	box-sizing: border-box;
	/*padding-bottom: 20px;*/
	/*margin-bottom: 20px;*/
}

/*.shop__title:after {*/
/*	content: '';*/
/*	width: 65px;*/
/*	height: 3px;*/
/*	background: #b59f5b;*/
/*	position: absolute;*/
/*	transform: translate(-50%);*/
/*}*/

.item__border {
	border: 3px solid #b59f5b;
	/*box-sizing: content-box;*/
	padding: 30px;
	/*display: block;*/
	/*float: top;*/
	/*top: 10px;*/
}

.shop__title {
	margin-top: 0;
}

.shop__container {
	width: 1200px;
}

.shop__list {
	display: flex;
	list-style-type: none;
	padding-left: 0;
/*justify-content: space-between;*/
	/*flex-direction: row;*/
}

.shop__item {
	/*display: flex;*/
	width: 33%;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 30px;
}

.shop__img {
}

.shop__item-text {
	font-size: 1.5vh;
	font-weight: normal;
	margin: 0;
}

.price-decoration {
	text-decoration: line-through;
	font-size: 1.5vh;
	font-weight: normal;
	margin: 0;
}

.price-normal {
	font-size: 2vh;
	font-weight: bold;
	margin: 0;
}

.shop__price-bottom {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shop_bottom {
	width: 45%;
	align-content: center;
	/*align-items: center;*/
	justify-content: center;
	/*justify-items: center;*/
}

.text-url {
	color: #b59f5b;
	text-decoration: none;
}

.copyright, .footer-social {
	display: flex;
	justify-content: center;
}

.footer-social__nav {
	width: 1200px;
	height: 8vh;
	display: flex;
	background-color: #f4f7f6;
	/*z-index: 1;*/
}

.footer-social__list {
	list-style-type: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;
}

/*.footer-social__item {*/
/*	display: flex;*/
/*	width: 2vh;*/
/*	padding-right: 30px;*/
/*}*/

.footer-social__link {
	display: flex;
	width: 2vh;
	padding-right: 30px;
}

.copyright-text {
	font-size: 0.7em;
	color: #999999;
	padding-top: 6vh;
	padding-bottom: 3vh;
}